@font-face {
  font-family: 'Axiforma';
  src: url('../fonts/Axiforma-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Axiforma', Arial, sans-serif;
  background-color: #963cbd;
  width: 100%;
  height: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h1 {
  background-color: #963cbd;
  font-family: 'Axiforma', Arial, sans-serif;
  font-size: 54px;
  color: whitesmoke;
}

h2 {
  font-family: 'Axiforma', Arial, sans-serif;
  font-size: 36px;
}

header {
  background-color: ghostwhite;
  color: #963cbd;
  text-align: center;
  margin-top: auto; /* Empurra o footer para baixo até o final do conteúdo */
  height: auto; /* Ajuste conforme necessário */
  width: 100%;
}

footer {
  background-color: ghostwhite;
  color: #963cbd;
  text-align: center;
  margin-bottom: auto; /* Empurra o footer para baixo até o final do conteúdo */
  height: auto; /* Ajuste conforme necessário */
  width: 100%;
}

nav {
  padding: 3px;
  background-color: ghostwhite;
  color: #963cbd;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu-item {
  margin: 0 10px;
  padding: 5px 10px;
  color: #963cbd;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.25s ease;
}

.menu-item:hover {
  background-color: rgba(150, 60, 189, 0.2);
}


.header-container {
  top: 0;
  left: 0;
  width: 100%;

}

.footer-container {
  display: flex;
  width: 100%;
}

.countdown-container {
  text-align: center;
  padding-bottom: 25px;
}

.countdown-item {
  display: inline-block;
  margin: 0 10px;
}

.countdown-item span {
  font-size: 24px;
}

.tweet-item {
  padding: 10px;
  display: none;
  max-width: 550px !important;
  margin-left: auto;
  margin-right: auto;
}

.active {
  display: block;
}

select {
  padding: 4px;
  font-size: 16px;
  background-color: ghostwhite;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
}

/* Estilo para o botão */
input {
  padding: 4px 20px;
  font-size: 16px;
  background-color: ghostwhite;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel {
  display: block;
  overflow-x: hidden;
  width: 100%;
}

.carousel-item {
  flex: 0 0 100%;
}

button {
  padding: 4px 20px;
  font-size: 16px;
  background-color: ghostwhite;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calendario {
  width: 1366px;
  height: auto;
}

.sobre {
  padding-top: 35px;
  width: 1600px;
  height: auto;
}